<head>
    {{partial "header.html" . }}
  {{ partial "producthead.html" . }}
  {{ $style := resources.Get "css/photoarchive.css"}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

<body>
    <div class="imgcontainer"> 
        
        <img class="img coachjacket" src="/img/tara.jpg" >
        <img class="img faven" src="/img/deesew.jpg"  style="width: 75%;">
<img class="img tiedie3" src="/img/jacksport.jpg"  style="width: 35%;">
<img class="img tiedye1" src="/img/omar.jpg"  style="width: 35%;">
<img class="img tiedye1" src="/img/neimah.jpg" >

</div>

</body>
