<head>
    {{partial "header.html" . }}
  {{ partial "producthead.html" . }}
  {{ $style := resources.Get "css/photoarchive.css"}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

<body>
    <div class="imgcontainer"> 
        <img class="img package1" src="/img/kidspackage.png" > 
        <img class="img package2" src="/img/greypackage.png" > <br>
        <img class="img tara" src="/img/tara.jpg" > <br>
        <img class="img deesew" src="/img/deesew.jpg" > <br>
<img class="img jacksport" src="/img/jacksport.jpg"  >
<img class="img omar" src="/img/omar.jpg"  >


</div>

</body>
