<head>
    {{partial "header.html" . }}
  {{ partial "producthead.html" . }}
  {{ $style := resources.Get "css/videopage.css"}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <div class="main">
  <div class="centered">
  <video width="50%" autoplay volumer play  onclick="this.paused ? this.play() : this.pause();".>
    <source src="/video/sportsock_video.mp4" type="video/mp4">
   
  </video>

  <img  class="sockimg" src="/img/Sock_packaging.png" alt="sock_packaging"  />
  <img  class="sockimg" src="/img/sock_productshot.png" alt="sock_packaging"  />
</div>

</div>