<head>{{ partial "header.html" . }}
    {{ $style := resources.Get "css/info.css"}}
    {{ partial "producthead.html" . }} 
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

    
<button>Contact Us</button>
<div id="content">
  and the content will show.
</div>
<div class="infomain">   


<div class="split left"> 
    <p style="font-size:5.5vw; font-weight: bolder;">Contact Us</p>
    <a style="font-size:4vw; font-weight: lighter;"> Instagram</a>
    <p href="mailto:d-g@sportwebsite.ca" style="font-size:4vw; font-weight: lighter;"> d-g@sportwebsite.ca</p>
</div>


<div class="split right"> 
    <p style="font-size:5.5vw; font-weight: bolder;">Terms & Conditions</p>
    <p style="font-size:4vw; "> Please allow 1-2 days to process orders prior to shipment</p>
    <p style="font-size:4vw; "> All garments are Unisex</p>
</div>
<!--<img src="http://1.bp.blogspot.com/-B_xehZPN6i0/VpKxkRTDriI/AAAAAAAABPE/y7g4E40VkQY/s1600/guy_running_fast_hg_clr.gif"></img>-->

</div>

<script>

</script>
