<head>
    {{ partial "producthead.html" . }} 
    {{ partial "header.html" . }}
    {{ $style := resources.Get "css/info.css"}}
  
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<div class="main">


<div class="sportdesc">

<a>
Sport is the product of bootleg and ambiguity, blah b;ah open to multiple definitions. 
<br>
</a>  
<hr style="height:2px;border-width:0;color:black;background-color:black">   

</div>


<a> <br>All garments are Unisex.  </a>
<a> <br> All orders are final sale.   </a>
<a> <br> <br>Please allow 1-2 days to process orders prior to shipment  <br> </a>

<div class="emailinfo">
  <a name="contact"></a>
<br>
<br>

      <a>If you have questions, comments, concerns, order issues or just want to Chit-chat email</a>
      <a href="mailto:d-g@sportwebsite.ca" style="font-size: 2rem;"> <br> d-g@sportwebsite.ca</a>
      
    </div>

   
    <hr style="height:2px;border-width:0;color:black;background-color:black">
   
    
    <div class="resources"> 
      <a name="resources"></a>
     
      <p> How to help</p>
      <a>The effects of systemic racisim disproportionately affecting Black people and other POC</a>
      <a> <br><br> Donate</a>
      <ul class="list">  
        <li>Know Your Rights Camp</li>
        <li>Know Your Rights Camp</li>

      </ul>

     
      <a><br><br> Reading Materials</a>
    <ul class="list"> 
<li>
The Skin We're in by Desmond Cole
</li>
<a>Continue to educate yourself and those around you. </a>


<br> 
    
      </div>
      <div class="block3">
      <a > There are many organizations ran and/or that benefit Black 
        and POC communities who need our constant support and donations.
        Here's a list of entities that you can contribute to and use as a tool for new knowledge and learning.
      </a>
    <ul>
      <li> @shootForpeace <br> @KickBackConnect</li>
      <li> @exposure_to</li>
      <li>
        @COMPTON_GIRLS_CLUB
        
      </li>
      <li>
        @BLACKGIRLMAGIK
        
      </li>
      <li>
        @BLACKMENHEAL
        
      </li>
    <li>
        @THEOKRAPROJECT
      </li>
    </ul>
    </div>

      <hr style="height:2px;border-width:0;color:black;background-color:black">

<br>
  <div class="form">
    <div class="formdesc" > 
      <a >By signing up for the newsletter you're agreeing to seasonal emails when we have something to share, such as playlists, reading material <br> </a>
    </div>

    <a  name="newsletter"></a>
       <form name="contact" method="POST" data-netlify="true" id="newsform">
       

    <a>
      <label>Name: <input type="text" name="name" /></label>   
    </p>
   
    <a>
      <label>Email: <input type="text" name="email" /></label>
    </p>

    <p>
    
      <button type="submit" class="button">Done</button>
    </p>

</form> 
</div>
<br> <br> 
  <div class="terms">
    <a name="terms"></a>

</div>




<!--<img src="http://1.bp.blogspot.com/-B_xehZPN6i0/VpKxkRTDriI/AAAAAAAABPE/y7g4E40VkQY/s1600/guy_running_fast_hg_clr.gif"></img>-->



<script>

</script>
