<head>
    {{ partial "producthead.html" . }} 
    {{ partial "header.html" . }}
    {{ $style := resources.Get "css/info.css"}}
  
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <div id="loadOverlay" style="background-color:#333; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
</head>
<div class="main">


<div class="sportdesc">

<a>
Sport is the product of bootleg and ambiguity, blah b;ah open to multiple definitions. 
<br>
</a>  
<hr style="height:2px;border-width:0;color:black;background-color:black">   

</div>


<a> <br>All garments are Unisex.  </a>
<a> <br> <br>Please allow 1-2 days to process orders prior to shipment  <br> </a>

<a> <br> All orders are final sale.   </a>


<div class="emailinfo">
  <a name="contact"></a>
<br>
<br>

      <a>If you have questions, comments, concerns or just want to Chit-chat email</a>
      <a href="mailto:d-g@sportwebsite.ca" style="font-size: 2rem;"> <br> d-g@sportwebsite.ca</a>
      
    </div>

   
    <hr style="height:2px;border-width:0;color:black;background-color:black">
   
    
    <div class="resources"> 
      <a name="resources"></a>
     
      
      <a>The everlasting effects of systemic racisim can't be reversed through preformative social media rollouts or black squares
        do what we have control over, Donate, educate yourself and others, pay it forward. 
      </a>
      <a>The effects of systemic racisim disproportionately affecting Black and indiginous people... </a>
  


      <ul class="list">  
      


      </ul>

     
<br> 
    
      </div>
      <div class="block3">
      <a > There are many organizations ran and/or that benefit Black 
        and POC communities who need our constant support and donations.
       <br> Here's a list of entities that you can contribute to and use as a tool for new knowledge and learning.
      </a>
    <ul class="blmlist">
      <li> @shootForpeace </li>
      <li> @exposure_to</li>
      <li>@KickBackConnect</li>
      <li>
        @COMPTON_GIRLS_CLUB
        
      </li>
      <li>
        @BLACKGIRLMAGIK
        
      </li>
      <li>
        @BLACKMENHEAL
        
      </li>
    <li>
        @THEOKRAPROJECT
      </li>
    </ul>
    </div>

      <hr style="height:2px;border-width:0;color:black;background-color:black">

  



<br>
  <div class="form">
    <div class="formdesc" > 
      <a >By signing up for the newsletter you're agreeing to seasonal emails when we have something to share, such as playlists, reading material <br> </a>
    </div>

    <a  name="newsletter"></a>
       <form name="contact" method="POST" data-netlify="true" id="newsform">
       

    <p>
      <label>Name <input type="text" name="name" /></label>   
    </p>
   
    <p>
      <label>Email <input type="text" name="email" /></label>
    </p>

    <p>
    
      <button type="submit" class="button">Sure !</button>
    </p>

</form> 
</div>
<br> <br> 
  <div class="terms">
    <a name="terms"></a>

</div>






<script>

</script>
