
<head>
  {{ partial "producthead.html" . }} 
  {{ partial "header.html" . }}

{{ $style := resources.Get "css/productpage.css"}}

<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

  <script>

 
</script>
 


<div class="main" id="main">
<div class="split left" id="leftid">

<img class="product-image one" src="{{ .Params.image}}"  alt=""> 

<div class="mobiletext"> 
  <div class="name"> {{ .Params.name }} <br> <span class="price"> {{.Params.Price}} CAD</span> <br></div>
  
  <div class="description" > {{ .Params.shortDescription | safeHTML }} <br> </div>
  <br>
  {{ partial "mbl_sizeselection.html" . }}
  <div style="text-align:center; width: 100%;">  
  <div class="sizeselect">

  {{ partial "sizesmall.html" . }}  {{ partial "sizemed.html" . }}
  {{ partial "sizelarge.html" . }}     {{ partial "sizexlarge.html" . }}

</div>
</div>
</div>

</div>


<div class="split right">
  <div class="centered">

 <div class="text-border">
    <a class="name"> {{ .Params.name }}  </a>
    <a class="price"> {{.Params.Price}} CAD </a>
    <a class="description" > {{ .Params.shortDescription }}</a>
  </div>
{{ partial "sizeselection.html" . }}



</div>
</div>


</div>
{{ partial "footer.html" . }}

