body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    padding: 0;
    background-color: #dfdfe5;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .navitems li a{
    color: #1d31e7;
    font-size: 1.3rem;
  }
  .main{
      margin-top: 2em;
      width: 100%;
      height: auto;
     
  }

p{
    border: black solid 1px;
   
}

@media screen and  (min-width: 300px){
  .img{
    width: 98%;
    border: 3px yellow solid;
  }
.txt{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
}
 @media screen and  (min-width: 767px){
  body{
    overflow-x: hidden;
  }

  .img.comfspeed{
    width: 50%;
    left: 25%;
  }
  .img.popup{
    width: 100%;
    margin: auto 0;

  }
  .parent{
    margin-top: 4em;
    width: 85%;
    height: auto;
   position: relative;
   
}
 #archive-list{
   width: 75%;
   display: inline-block;
   margin: 0 auto;
   

    margin-left: 2rem;

 }
 .fltright{
   float: right;
 }

     /*Position and size images */
    .img{
      display: none;
      position: fixed;
      margin-left: auto;
      margin-right: auto;
   top: 0.5%;
   left: 0;
    height: 100%;
    width: 105%;
    border: none ;

    }
    

         /*Position and size text */
    .txt{
    margin: 0 auto;
      position: absolute;
     display: block;
      width: 90%;
      height: auto;
   font-size: 2.6rem;
   font-weight: lighter;
   z-index: 9999;
   border-width: 15%;
   z-index: 999;
padding-left: 3rem;
    }
    .txt:hover + .fltright:hover{
 
   }
  .txtdglongsleeve:hover{
    
  }
  
 
   /*Show image on hover */
    .txtfriendsfam:hover + .friendsfam{
      
      display: block;
   }
   .txtcomfspeed:hover + .comfspeed{
      display: block;
    
   }
    .txtsportsocks:hover + .sportsocks{
      display: block;

   
   }
   
    .txtsummer19:hover + .popup{
      display: block;
    
   }
   .txtdglongsleeve:hover + .dglongsleeve{
      display: block;
    
   }
   .txtdyedpants:hover + .popup{
      display: block;
    
   }

    
    /* Control the left side */
    .left {
    
      left: 0;
    
    }
    
    /* Control the right side */
    .right {
      right: 0;
    
    }
    
    /* If you want the content centered horizontally and vertically */
    .centered {

      position: absolute;
    top: 32%;
   


    }


}
@media screen and  (min-width: 992px){
  body{
    overflow-x: hidden;
  }
  .img1 { background-image: url("/img/inspo1.png");
width: 100%;
height: 100%;
display: none;
  }
  .img.comfspeed{
    width: 40%;
    left: 30%;
  }
  .img.popup{
    width: 55%;
  margin: auto 0;
  left: 25%;
  }
  .parent{
    margin-top: 4em;
    width: 85%;
    height: auto;
   position: relative;
   margin-left: 5rem;
}
 #archive-list{
   width: 100%;
   display: inline-block;
   margin: 0 auto;
   
 
    
cursor: pointer;
 }
 .fltright{
   float: right;
 }
 .fltright:hover{

 }
     /*Position and size images */
    .img{
      display: none;
      position: fixed;
      margin-left: auto;
      margin-right: auto;
   top: 0.2%;
   left: 0;
    height: 100%;
    width: 100%;

    }
    .img{

    }

         /*Position and size text */
    .txt{
    margin: 0 auto;
      position: absolute;
     display: block;
      width: 90%;
      height: auto;
   font-size: 3rem;
   font-weight: lighter;
   z-index: 9999;
   border-width: 15%;
   z-index: 999;

    }
    .txt:hover{
  
   }
  
 
   /*Show image on hover */
    .txtfriendsfam:hover + .friendsfam{
      
      display: block;
   }
   .txtcomfspeed:hover + .comfspeed{
      display: block;
    
   }
    .txtsportsocks:hover + .sportsocks{
      display: block;

   
   }
   
    .txtsummer19:hover + .popup{
      display: block;
    
   }
   .txtdglongsleeve:hover + .popup{
      display: block;
    
   }
   .txtdyedpants:hover + .popup{
      display: block;
    
   }

    
    /* Control the left side */
    .left {
    
      left: 0;
    
    }
    
    /* Control the right side */
    .right {
      right: 0;
    
    }
    
    /* If you want the content centered horizontally and vertically */
    .centered {

      position: absolute;
    top: 32%;
   


    }


}


#loadOverlay{display: none;}