body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    padding: 0;
    background-image: linear-gradient(blue, white);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .navitems li a{
    color: white;
  }
  .main{
      margin-top: 4em;
      width: 100%;
      height: auto;
     
  }

p{
    border: black solid 1px;
   
}

 @media screen and  (min-width: 767px){
    
 .archive-list{
   width: 960px;
   height: auto;
   display: inline-block;
   border: 1px solid black;
   margin: 0 auto;
 }
 
     /*Position and size images */
    .img{
      display: none;
      position: absolute;
    
    width: 50%;
    }
    .img{
      border: 1px solid black;
      padding: 2px;
    }
    .centered{
      left: 50%; 
      -webkit-transform: translate(-50%, 0); 
      position: fixed;
    
      width: 90%;
      height: 75%;
    }
         /*Position and size text */
    .txt{
      
      position: relative;
     display: block;
      width: 100%;
      height: auto;
   font-size: 4em;
   font-weight: normal;
   z-index: 9999;
   border-width: 15%;
   
    }
    .txt:hover{
  text-decoration: underline;
   }
  
 
   /*Show image on hover */
    .txtfriendsfam:hover + .friendsfam{
      display: block;
    
   }
   .txtcomfspeed:hover + .comfspeed{
      display: block;
    
   }
    .txtsportsocks:hover + .sportsocks{
      display: block;

   
   }
   
    .txtsummer19:hover + .popup{
      display: block;
    
   }
   .txtdglongsleeve:hover + .popup{
      display: block;
    
   }
   .txtdyedpants:hover + .popup{
      display: block;
    
   }

    
    /* Control the left side */
    .left {
    
      left: 0;
    
    }
    
    /* Control the right side */
    .right {
      right: 0;
    
    }
    
    /* If you want the content centered horizontally and vertically */
    .centered {

      position: absolute;
    top: 32%;
   


    }


}

 