html{
  font-size: 16px;
}
body{
  -webkit-text-size-adjust: none; 
}
a{
  font-weight: normal;
  font-size: 2rem;
  text-decoration: none;
}
.footer{
 font-size: 1.5rem;
}
hr{
  
}
li a{
  font-size: 1rem;
}
a:visited {
  color: black;
}
.main{
  margin: 3rem;
}
.legend{
  margin-bottom: 3rem;

}
.legend a:hover{
  text-decoration: underline;
}
p{
  
  font-weight: bolder;
  font-size: 2rem;
}
.form{
  width: 100%;
  text-align: center;
}
#newsbutton {
  background-color: #f8f8ff; /* BG colour */

  color: black;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  align-items: center;
  border: black solid 2px;
  width: 60%;
}
.button a{
  color: red;
}

#newsbutton:hover{
  border: #1d31e7 solid 2px;
  color: #1d31e7;
}

.emailinfo{
  margin-bottom: 2rem;
}
.resources{
  margin-bottom: 2rem;
  text-align: left;
  
}
.blmlist{
  list-style-type: none;
  
}
/* column layout */
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 49%;
  padding: 10px;
margin: 2px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.insta:hover{
  border-bottom: 1px solid black;

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


@media screen and  (min-width: 300px){
  #newsbutton{
    width: 70%;
  }
  .column a{
    font-size: 0.5rem;
    color: black;
  }
  .row a{
    font-size: 0.5rem;
  }
.block1{
  width: 100%;
}
 .resources a{
   font-size: 0.5rem;
 }
  .resources{
    border: 2px solid #1d31e7;
    display: block;
    padding: 10px;
    line-height: 1.4;
   
    word-wrap: break-word;
  }

  .sportdesc{
    border: 2px solid #1d31e7;
    display: block;
    padding: 10px;
  }
li a{
    font-size: 1rem;

    box-decoration-break: clone;
  }
  .column{
    word-wrap: none;
  }
 li{
   padding-bottom: 10px;
 }
  input[type=text] {
    width: 70%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size:2rem;
  color:#1d31e7;
  border: 2px solid black;
  background-color: #f8f8ff;
    background-repeat: no-repeat;
    padding: 2px;
    position: relative;
   border-radius: 0;
   text-align: center;
  }
  .legend{
    display: none;
  }
  .form p{
    font-size: 3rem;
    font-weight: 400;
    
  }
  p{
    font-size: 1rem;
  }

  .sportdesc{
    width: auto;
    border: 2px solid blue;
  }
  .main{
    margin: 1.5rem;
  }
  .list li{
    font-size: 1.5rem;
  }
.split{
  display: none;
}

.main a{
  font-size: 1.5rem;
}
#newsform{
  position: relative;
  left: 0;
}
#emaillink {
  font-size: 2rem;
}
}
@media screen and  (min-width: 767px){
  .main a{
    font-size: 1.5rem;
  }
 .column a{
   font-size: 1.5rem;
   color: black;
 }
 .column a:hover{
   text-decoration: underline;
 }
  #blmjump a:hover{
    color: blue;
  }
  #emaillink:hover{
    text-decoration: underline;
    color: red;
  }
ul li{
  font-size: 1.5rem;
}
input[type=text] {
  width: 60%;
  box-sizing: border-box;
  border-radius: 4px;
  font-size:2rem;
color:#1d31e7;
border: 2px solid black;
border-radius: 0;
  background-repeat: no-repeat;
  padding: 2px;
  position: relative;
  text-align: center;
}
#newsbutton{
  width: 60%;
}
.form p{
  font-size: 3rem;
  font-weight: 400;
  
}
  .block3{
    
   
  }
  .block3 ul{
    list-style-type: none;
  }
    input[type=text] {
    
    padding: 1rem;
    margin: 0;
    
    box-sizing: border-box;
  }
  #newsform{
   
     position: relative;
   
    }
  p{
    font-size: 3rem;
    font-weight: 600;
  }

.list li{
  font-size: 2rem;
}
  .legend a{
    font-size: 3.5rem;
    font-weight: lighter;
  }
  .legend{
    display: block;
  }
  .sportdesc{
   text-align: left;
   border: 2px solid blue;
   
  
  }
 
.mblinfo{
  display: none;
}
.form{
  position: relative;
}

.terms{
  position: relative;
}
.emailinfo{
  position: relative;
 


}
  #content{
    z-index: 99999;
  }



}

/* Control the left side */
.left {

  left: 0;
margin-left: 2em;
}

/* Control the right side */
.right {
  right: 0;
  
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

 
}
#loadOverlay{display: none;}