a{
  font-weight: normal;
  font-size: 1.5rem;
  text-decoration: none;
}
hr{
  
}
a:visited {
  color: black;
}
.main{
  margin: 3rem;
}
.legend{
  margin-bottom: 3rem;

}
.legend a:hover{
  text-decoration: underline;
}
p{
  
  font-weight: bolder;
  font-size: 2rem;
}
.button {
  background-color: white; /* Green */
  border: black 2px solid;
  color: black;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  align-items: center;

}

.button:hover{
  background-color: #1d31e7;

}
.emailinfo{
  margin-bottom: 2rem;
}
.resources{
  margin-bottom: 2rem;
  text-align: left;
  
}

@media screen and  (min-width: 300px){
  ul li{
    font-size: 1.5rem;
  }
 
  input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #fffb00;
    border-radius: 4px;
    font-size:3rem;
  color:#1d31e7;
    background-color: white;
    background-repeat: no-repeat;
    padding: 5px;
    position: relative;
  }
  .legend{
    display: none;
  }
  .form p{
    font-size: 3rem;
    font-weight: 400;
    
  }
  p{
    font-size: 1.5rem;
  }

  .sportdesc{
    width: auto;
  }
  .main{
    margin: 1.5rem;
  }
  .list li{
    font-size: 1.5rem;
  }
.split{
  display: none;
}
p{
  font-size: 4rem;
  font-weight: 600;
}
.main a{
  font-size: 2rem;
}
#newsform{
  position: relative;
  left: 0;
}

}
@media screen and  (min-width: 768px){
ul li{
  font-size: 2.5rem;
}
input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #fffb00;
  border-radius: 4px;
  font-size:3rem;
color:#1d31e7;
  background-color: white;
  background-repeat: no-repeat;
  padding: 5px;
  position: relative;
}
.form p{
  font-size: 3rem;
  font-weight: 400;
  
}
  .block3{
    width: 75%;
    margin: 0 auto;
  }
  .block3 ul{
    list-style-type: none;
  }
    input[type=text] {
    
    padding: 1rem;
    margin: 0;
    
    box-sizing: border-box;
  }
  #newsform{
   
     position: relative;
   
    }
  p{
    font-size: 3rem;
    font-weight: 600;
  }
.formdesc{
  
  
}
.list li{
  font-size: 2rem;
}
  .legend a{
    font-size: 3.5rem;
    font-weight: lighter;
  }
  .legend{
    display: block;
  }
  .sportdesc{
   text-align: left;
   border: 1px solid black;
   
   border-radius: 30rem;
  }
.mblinfo{
  display: none;
}
.form{
  position: relative;
}

.terms{
  position: relative;
}
.emailinfo{
  position: relative;
  text-align: center;


}
  #content{
    z-index: 99999;
  }



}

/* Control the left side */
.left {

  left: 0;
margin-left: 2em;
}

/* Control the right side */
.right {
  right: 0;
  
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

 
}
#loadOverlay{display: none;}