
/* HEADER STYLE*/
/* header style */
* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  padding: 0;
  background-image: linear-gradient(blue, white);
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  cursor: url('/static/img/cursor.svg'), auto;
}
.weblogo{
  z-index: 99999;
}
.navitems li a{
  color: white;
}
@media screen and  (min-width: 300px){
.right{
  display: none;
}
/* PRODUCT LIST STYLE*/
.main{
  margin-top: -1rem;
  min-height: 100%;
  margin-bottom: -25px;

}
.main:after {
  content: "";
  display:block;
}
.footer, .main:after{
  height: 25px;
}
 .name {
  text-align: center;
  position: relative;
font-size: 3vh;
margin: 0 auto;

border-top: 0.5px solid black;
border-left: 0.5px solid black;
border-right: 0.5px solid black;
}
.description{
  position: relative;
  text-align: center;
   font-size: 1.9vh;
   border-bottom: 0.5px solid black;
   border-left: 0.5px solid black;
   border-right: 0.5px solid black;
  
 }
.product-image{
  display: block;
position: relative;
width: 100%;
border: none;
object-fit: contain;

}

.product-image.two{
  display: none;
}
#product-component-1595195330623{
  position: relative;
  display: block;
 margin: 0 auto;
 z-index: 999;

}
.footer{
bottom: 0;
width: 100%;
z-index: 999;
 height: 25px;
 position: absolute;
}
#product-component-1594604439669{
display: none;
}

}

@media screen and (min-width: 768px) /* Tablet */ {
  #product-component-1595195330623{
    display: none;
  }
.mobiletext{
  display: none;
}
  #mblshop{
    display:none;
  }
  #leftid::-webkit-scrollbar {
    display:none;
  }
   /* PRODUCT LIST STYLE*/
   .main{
  
    
    }
  
   .split{
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
   }
  
  .left{
  left: 0;
  margin-left: 6vh;
  display: block;
  }
  
  .right{
    display: block;
  right: 0;
  
  
  }
  .centered{
    position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
   }
   
   .product-image{
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    }
  .name {
  position: relative;
  font-size: 3vw;
   border-bottom: 0.5px solid black;
  top: 40%;
  
  }
  .description{
    position: relative;
    font-size: 1.7vw;
    top: 49%;
    border-top: 0.5px solid black;
  }
  
  .price{
   text-align: center;
  font-size: 1.9vw;
   position: relative;
   top: 45%;
  border: black solid 0.5px;
  }

  
 
  #product-component-1594604439669{
    position: relative;
    display: block;
  align-items: center;
  margin: 0 auto;
  }
  .footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-image: none;
  height: 50px;
  }

  

  }    
  @media(max-width:767px){
    .responsive_container{display: inline-block !important; width: 100% !important;}
    .responsive_container .responsive{width: 50% !important;height: 300px;}
    .responsive_container .gallery img, .gallery_tall{height: 130px;overflow: hidden;}
    .responsive_container .gallery{height: 140px;}
    }
@media (min-width: 992px) /*desktop */   {
  #product-component-1595195330623{
    display: none;
  }
  
.mobiletext{
  display: none;
}
#leftid::-webkit-scrollbar {
  display:none;
}
 /* PRODUCT LIST STYLE*/
 .main{
  margin-top: 3em;
  
  }

 .split{
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
 }

.left{
left: 0;
display: block;
}

.right{
  display: block;
right: 0;


}
.centered{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
 }
 
 .product-image{
  position: relative;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }
.name {
position: relative;
font-size: 3vw;
 

}
.description{
  position: relative;
  font-size: 1.7vw;

}

.price{
  text-align: center;
  font-size: 1.9vw;
   position: relative;
   top: 45%;
  border: black solid 0.5px;

}
#product-component-1594604439669{
  position: relative;
   display: block;
  z-index: 999;
 
}
.footer{
  position: absolute;
bottom: 0;
width: 100%;
z-index: 999;

}


}