
* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  padding: 0;
 
}
body {
  margin: 0;
  font-family: Arial;
}

  

/* ------HEADER LOGO SPIN---------*/
.templogo:hover{
  animation-name: logospin;
  animation-duration:1000ms;
  animation-iteration-count: 1;
  
animation-timing-function: linear;
}

@keyframes logospin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* GRID FLEXBOX*/

.products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
overflow: hidden;
 
}
.product-card{
  
  border-top: 2px solid black;
border-right: 2px solid black;


}


 .product-card:hover {

  }

  .product-name{
    font-size: 1.3em;
    text-align: center;

      }
.product-price {
font-size: 13px;
color: red;
text-align: left;
  }
 .product-img {
    width: 70%;
position: relative;
border: none;
left: 15%;
  
  }
  #smallbox {
    cursor: pointer;
}




  @media (min-width: 300px){
    .product-card{
      flex: 0 50%;
      
    }
  
  }


@media (min-width: 768px) /* Tablet */ { 

  .main{
    margin-top: em;
   

    }
 .products{
   overflow: hidden;
 }

    .product-card{
      flex: 1 50%;
      flex-grow: 0;
     overflow: hidden;
    }


}
@media (min-width: 992px) /*desktop */   {
  .main{
    margin-top: em;
    
    }
    .product-img {
      left: 15%;
      width: 70%;
    position: relative;
    border: none;
    align-self: center;
    }
    .product-card{
      flex: 1 33.33%;
      flex-grow: 0;
     
    }
}

