<head>
    {{partial "header.html" . }}
  {{ partial "producthead.html" . }}
  {{ $style := resources.Get "css/photoarchive.css"}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

<body>
    <div class="imgcontainer"> 
        <img class="img faven" src="/img/favenLS.jpg" > <br>
        <img class="img coachjacket" src="/img/coachjacket.jpg" >
       

<br><img class="img deeneims" src="/img/deeneims.jpg" >
<img class="img neims" src="/img/neimah.jpg" >
<img class="img tiedie3" src="/img/theo.jpg" >


</div>

</body>

