<head>
    {{partial "header.html" . }}
  {{ partial "producthead.html" . }}
  {{ $style := resources.Get "css/photoarchive.css"}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

<body>
    <div class="imgcontainer"> 
        <img class="img totebag1" src="/img/fix tote bag 1.jpg" >
    <br>
        
      
        <br><img class="img deechair" src="/img/deeinchair.jpg" >

        <img class="img faven" src="/img/favenLS.jpg" >
        <img class="img coachjacket" src="/img/coachjacket.jpg" >
<br>
<img class="img neims" src="/img/neimah.jpg" >
<img class="img theo" src="/img/theo.jpg" >
<img class="img deeneims" src="/img/deeneims.jpg" >

</div>

</body>

