<div id='product-component-1595195330623'></div>
<script type="text/javascript">
/*<![CDATA[*/
(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }
  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }
  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'sport-website.myshopify.com',
      storefrontAccessToken: '031e1623a9c2eb8794ed1a25e9da0a3e',
    });
    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: '{{.Params.id}}',
        node: document.getElementById('product-component-1595195330623'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "calc(25% - 20px)",
          "margin-left": "20px",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "font-family": "Arial, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#1d31e7",
        ":hover": {
          "color": "#1d31e7",
          "background-color": "#e6e200"
        },
        "background-color": "#fffb00",
        ":focus": {
          "background-color": "#e6e200"
        },
        "border-radius": "0px",
        "padding-left": "49px",
        "padding-right": "49px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      }
    },
    "contents": {
      "img": false,
      "title": false,
      "price": false
    },
    "text": {
      "button": "Add to Cart"
    }
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "button": false,
      "buttonWithQuantity": true
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "font-family": "Arial, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#1d31e7",
        ":hover": {
          "color": "#1d31e7",
          "background-color": "#e6e200"
        },
        "background-color": "#fffb00",
        ":focus": {
          "background-color": "#e6e200"
        },
        "border-radius": "0px",
        "padding-left": "49px",
        "padding-right": "49px"
      },
      "quantityInput": {
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px"
      }
    },
    "text": {
      "button": "Add to cart"
    }
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Arial, sans-serif"
      },
      "select": {
        "font-family": "Arial, sans-serif"
      }
    }
  },
  "cart": {
    "styles": {
      "button": {
        "font-family": "Arial, sans-serif",
        "font-size": "18px",
        "padding-top": "17px",
        "padding-bottom": "17px",
        "color": "#1d31e7",
        ":hover": {
          "color": "#1d31e7",
          "background-color": "#e6e200"
        },
        "background-color": "#fffb00",
        ":focus": {
          "background-color": "#e6e200"
        },
        "border-radius": "0px"
      },
      "title": {
        "color": "#1d31e7"
      },
      "header": {
        "color": "#1d31e7"
      },
      "lineItems": {
        "color": "#1d31e7"
      },
      "subtotalText": {
        "color": "#1d31e7"
      },
      "subtotal": {
        "color": "#1d31e7"
      },
      "notice": {
        "color": "#1d31e7"
      },
      "currency": {
        "color": "#1d31e7"
      },
      "close": {
        "color": "#1d31e7",
        ":hover": {
          "color": "#1d31e7"
        }
      },
      "empty": {
        "color": "#1d31e7"
      },
      "noteDescription": {
        "color": "#1d31e7"
      },
      "discountText": {
        "color": "#1d31e7"
      },
      "discountIcon": {
        "fill": "#1d31e7"
      },
      "discountAmount": {
        "color": "#1d31e7"
      }
    },
    "text": {
      "title": "Cart ",
      "total": "Subtotal",
      "empty": "Cart = empty ;",
      "button": "Checkout"
    },
    "popup": false
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Arial, sans-serif",
        "background-color": "#fffb00",
        ":hover": {
          "background-color": "#e6e200"
        },
        ":focus": {
          "background-color": "#e6e200"
        }
      },
      "count": {
        "font-size": "18px",
        "color": "#1d31e7",
        ":hover": {
          "color": "#1d31e7"
        }
      },
      "iconPath": {
        "fill": "#1d31e7"
      }
    }
  },
  "lineItem": {
    "styles": {
      "variantTitle": {
        "color": "#1d31e7"
      },
      "title": {
        "color": "#1d31e7"
      },
      "price": {
        "color": "#1d31e7"
      },
      "fullPrice": {
        "color": "#1d31e7"
      },
      "discount": {
        "color": "#1d31e7"
      },
      "discountIcon": {
        "fill": "#1d31e7"
      },
      "quantity": {
        "color": "#1d31e7"
      },
      "quantityIncrement": {
        "color": "#1d31e7",
        "border-color": "#1d31e7"
      },
      "quantityDecrement": {
        "color": "#1d31e7",
        "border-color": "#1d31e7"
      },
      "quantityInput": {
        "color": "#1d31e7",
        "border-color": "#1d31e7"
      }
    }
  }
},
      });
    });
  }
})();
/*]]>*/
</script>