<!DOCTYPE html>
<html lang="en">
 
<head>
  <div id="loadOverlay" style="background-color:#333; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
  
  <title>{{ .Site.Title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 

<div class="navbar"  >
  <a href="/"> <img class="weblogo" src="/img/sportwebsitelogo.svg" > </a>
<ul class="navitems" id="displayText" style="font-size: 1.3rem;">
  <li>
    <a href="/shop" class="nav-links" id="zero" >Shop</a>
  </li> 
  <li> <a href="/info" class="nav-links" id="two" >Info</a>
  </li> 
  <li> <a href="/archive" class="nav-links" id="three" >Archive</a>
  </li> 
  
</ul>

</div>




    </nav>
    
  
      
    </head>
   