<!DOCTYPE html>
<html lang="en">
 
<head>
  
  
  <title>{{ .Site.Title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 

<div class="navbar"  >
  <a href="/index.html"> <img class="weblogo" src="/img/sportwebsitelogo.svg" > </a>
<ul class="navitems" id="displayText">
  <li>
    <a href="/shop" class="nav-links" id="zero" >Shop</a>
  </li> 
  <li> <a href="/info" class="nav-links" id="two" >Info</a>
  </li> 
  <li> <a href="/archive" class="nav-links" id="three" >Archive</a>
  </li> 
  
</ul>

</div>




    </nav>
    
  
      
    </head>
   