<head>
    {{ partial "producthead.html" . }} 
    {{ partial "header.html" . }}

    {{ $style := resources.Get "/css/archive.css"}}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <div id="loadOverlay" style="background-color:#333; position:absolute; top:0px; left:0px; width:100%; height:100%; z-index:2000;"></div>
</head>

<body>
    <div class="main">
    <div class="img1"> </div>

<div class="parent">
    
   
   <div id="archive-list">
    
 
        <div class="txt txtdglongsleeve" onclick="location.href='/dglongsleeve';" style="cursor: pointer;"> 2019  <a class="fltright">D&G  Longsleeve </a> </div>
        <img  class="img dglongsleeve" src="/img/lsvid1.jpg" onclick="location.href='/dglongsleeve';" alt="popup" style="cursor: pointer;" />
        <br> <br> 
        <br> <br> 
        <div class="txt txtsummer19" onclick="location.href='/summer19';" style="cursor: pointer;">2019 <span style="float: right;">Summer Popup</span> </div>
            <img  class="img popup" src="/img/summerkieran.jpg" alt="popup"  style="cursor: pointer;"/>
             <br> <br>  <br> <br> 
        <div class="txt txtsportsocks" onclick="location.href='/sportsocks';" style="cursor: pointer;">2019  <span style="float: right;"> Sport Socks</span> </div>
            <img class="img sportsocks" src="/img/greensockvid.jpg" alt="image" style="cursor: pointer;" />
                <br> <br> 
                <br> <br> 
        <div class="txt txtcomfspeed" style="cursor: pointer;">2018<a class="fltright" > Comfortable Speed </a></div>
            <img class="img comfspeed" src="/img/fw18tracksuit.jpg" alt="image" style="cursor: pointer;" />
                <br> <br> 
                <br> <br> 

                <div class="txt txtfriendsfam" style="cursor: pointer;">2018  <a class="fltright">  Friends & Family </a></div>
                <img class="img friendsfam" src="/img/meat-packaging2.jpg" alt="Meat Packaging" style="cursor: pointer;" />
     
        </div>

</div>
</div>
</body>




<!--
<p class="five" style="cursor: pointer; z-index: 100999;"  onclick="window.location='/sportsocks';">
    &nbsp; &nbsp;2019 &nbsp; &nbsp; Pocket Longsleeve &nbsp;  &nbsp;
    <img class="five" src="/img/popup-poster.jpg"/> 
   
<p class="four" style="cursor: pointer; z-index: 100999;"  onclick="window.location='/sportsocks';"> 
    &nbsp; &nbsp;2019 &nbsp; &nbsp; Summer Pop-Up &nbsp;  &nbsp;
        <img class="four" src="/img/popup-poster.jpg"/> 


 
    <p class="one" style="cursor: pointer; z-index: 10999;"  onclick="window.location='/sportsocks';"> 
        &nbsp; &nbsp;2018 &nbsp; &nbsp;  &nbsp;Friends & Family &nbsp;  &nbsp; 
  <img class="one" src="/img/sporx5charles.JPG"/>
<p class="one" style="cursor: pointer; z-index: 10999;"  onclick="window.location='/sportsocks';"> 
    &nbsp; &nbsp;2018 &nbsp; &nbsp;  &nbsp;Friends & Family &nbsp;  &nbsp; 
<img class="one" src="/img/sporx5charles.JPG"/>
<p class="one" style="cursor: pointer; z-index: 10999;"  onclick="window.location='/sportsocks';"> 
    &nbsp; &nbsp;2018 &nbsp; &nbsp;  &nbsp;Friends & Family &nbsp;  &nbsp; 
<img class="one" src="/img/sporx5charles.JPG"/>
-->