<head>
    {{ partial "producthead.html" . }} 
    {{ partial "header.html" . }}

    {{ $style := resources.Get "/css/archive.css"}}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    
<div class="parent">
    

   <div class="archive-list">
   
 
        <div class="txt txtdglongsleeve" onclick="location.href='/dglongsleeve';">2019 &nbsp; &nbsp; &nbsp; D&G Pocket Longsleeve </div>
        <img  class="img popup" src="/img/lsvid1.png" alt="popup"  />
        <br> <br> 
      
        <div class="txt txtsummer19" onclick="location.href='/summer19';">2019 &nbsp; &nbsp; &nbsp; Summer Popup</div>
            <img  class="img popup" src="/img/summerkieran.png" alt="popup"  />
             <br> <br> 
        <div class="txt txtsportsocks" onclick="location.href='/sportsocks';">2019 &nbsp; &nbsp; &nbsp; Sport Socks</div>
            <img class="img sportsocks" src="/img/greensockvid.png" alt="image"  />
                <br> <br> 
        <div class="txt txtcomfspeed">2018 &nbsp; &nbsp; &nbsp; Comfortable Speed</div>
            <img class="img comfspeed" src="/img/sweatsuit.jpg" alt="image" style="width: 27%;"/>
                <br> <br> 
        <div class="txt txtfriendsfam" >2018  &nbsp; &nbsp; &nbsp; Friends & Family</div>
            <img class="img friendsfam" src="/img/meat-packaging1.jpg" alt="Meat Packaging" />
 

</div>
</div>

</body>




<!--
<p class="five" style="cursor: pointer; z-index: 100999;"  onclick="window.location='/sportsocks';">
    &nbsp; &nbsp;2019 &nbsp; &nbsp; Pocket Longsleeve &nbsp;  &nbsp;
    <img class="five" src="/img/popup-poster.jpg"/> 
   
<p class="four" style="cursor: pointer; z-index: 100999;"  onclick="window.location='/sportsocks';"> 
    &nbsp; &nbsp;2019 &nbsp; &nbsp; Summer Pop-Up &nbsp;  &nbsp;
        <img class="four" src="/img/popup-poster.jpg"/> 


 
    <p class="one" style="cursor: pointer; z-index: 10999;"  onclick="window.location='/sportsocks';"> 
        &nbsp; &nbsp;2018 &nbsp; &nbsp;  &nbsp;Friends & Family &nbsp;  &nbsp; 
  <img class="one" src="/img/sporx5charles.JPG"/>
<p class="one" style="cursor: pointer; z-index: 10999;"  onclick="window.location='/sportsocks';"> 
    &nbsp; &nbsp;2018 &nbsp; &nbsp;  &nbsp;Friends & Family &nbsp;  &nbsp; 
<img class="one" src="/img/sporx5charles.JPG"/>
<p class="one" style="cursor: pointer; z-index: 10999;"  onclick="window.location='/sportsocks';"> 
    &nbsp; &nbsp;2018 &nbsp; &nbsp;  &nbsp;Friends & Family &nbsp;  &nbsp; 
<img class="one" src="/img/sporx5charles.JPG"/>
-->