<head>
    {{partial "header.html" . }}
  {{ partial "producthead.html" . }}
  {{ $style := resources.Get "css/photoarchive.css"}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

<body>
    <div class="imgcontainer"> 
        
        <img class="img hackie" src="/img/sport-tee2.jpg" > <br>
        <img class="img hackie" src="/img/hackie-summer.jpg" > <br>
<img class="img tiedie3" src="/img/malcolm-summer.jpg" >
<img class="img tiedye1" src="/img/ivan-costco-2.jpg" >


</div>

</body>

