<head>
    {{partial "header.html" . }}
  {{ partial "producthead.html" . }}
  {{ $style := resources.Get "css/photoarchive.css"}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

<body>
    <div class="imgcontainer"> 
        
      <img class="img poster" src="/img/popup poster.jpg" > <br>
      <img class="img kieran" src="/img/kieran full quality.jpg" > <br>
     
        <img class="img kieran1" src="/img/kieran wholesale.jpg" > 
        <img class="img kieran2" src="/img/kieran ibm.jpg" > 
    
        <img class="img hackie" src="/img/hackie-summer.jpg" > <br>
     
<img class="img malcom" src="/img/malcolm-summer.jpg" >
<img class="img ivancostco" src="/img/ivan-costco-2.jpg" >
<img class="img kippgrass" src="/img/kipp grass.jpg" > <br>


</div>

</body>

